body {
  font-family: 'Bellota', cursive;
}
.background {
  background-image: url(cat3.jpg);
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: black;
}

.text {
  background-color: white;
  text-align: left;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  margin-right: 40%;
  margin-left: 3%;
}
.button-area {
  padding-top: 5%;
}
/* .button-area > button {
  margin-right: 5%;
} */
.result {
  padding: 2% 0;
}
input {
  outline-style: none;
}